<%- include('../../partials/header') %>

<form action="/patients/<%= patient.id %>/notes/<%= note.id %>?_method=PUT" method="POST">
    <label>History and Symptoms:</label>
  <input type="text" name="history" placeholder="<%= note.history%>">
  <label>Medications:</label>
  <input type="text" name="medications" placeholder="<%= note.medications%>">
  <label>Treatment Notes:</label>
  <input type="text" name="treatment" placeholder="<%= note.treatment %>">
  <input type="submit" value="Add ">
    <button type="submit">Update</button>

</form>

<%- include('../../partials/footer') %>


