<%- include('../../partials/header') %>
<h2>Treatment Notes for <span id="name-emphasis"><%= patient.firstname %> <%= patient.lastname %></span></h2>
<form id="treatment-form" action="/patients/<%= patient._id %>/notes" method="POST">
  <label>History and Symptoms:</label>
  <textarea name="history"></textarea>
  <label>Medications:</label>
  <textarea name="medications"></textarea>
  <label>Treatment Notes:</label>
  <textarea name="treatment"></textarea>
  <input id="add-button" type="submit" value="Add ">
</form>

<%- include('../../partials/footer') %>

