<%- include('../../partials/header') %>

<h2>Treatment Notes for <span id="name-emphasis"><%= patient.firstname %> (<%= patient.dob.toLocaleDateString() %>)</span></h2> 
<div>Treatment Date: <%= note.createdAt.toLocaleDateString() %></div>


<br><br>
<form id="treatment-form" action="/patients/<%= patient._id %>/notes/<%= note.id %>?_method=PUT" method="POST">
  <label>History and Symptoms:</label>
  <textarea  name="history"><%= note.history %></textarea>
  <label>Medications:</label>
  <textarea  name="medications"><%= note.medications %></textarea>
  <label>Treatment Notes:</label>
  <textarea name="treatment"><%= note.treatment %></textarea>
  <button type="submit">Update Note</button>
</form>

<%- include('../../partials/footer') %>

