<%- include('../../partials/header') %>

<h3>First Name</h3>
<div><%= patient.firstname %></div>
<h3>Surname</h3>
<div><%= patient.surname %></div>
<h3>Date of Birth</h3>
<div><%= patient.dob.toLocaleDateString() %></div>


<form id="add-performer-form" action="/patients/<%= patient._id %>/notes" method="POST">
  <label>History and Symptoms:</label>
  <input type="text" name="history">
  <label>Medications:</label>
  <input type="text" name="medications">
  <label>Treatment Notes:</label>
  <input type="text" name="treatment">
  <input type="submit" value="Add ">
</form>

<%- include('../../partials/footer') %>

