<%- include('../partials/header') %>
<div id="newNotes">
    <a href="/patients/<%= patient._id %>/notes/new" <%- title === 'A' ? 'class="active"' : '' %>>Add treatment note</a>
</div>

<h3>First Name</h3>
<div><%= patient.firstname %></div>
<h3>Surname</h3>
<div><%= patient.surname %></div>
<h3>Date of Birth</h3>
<div><%= patient.dob.toLocaleDateString() %></div>
<h3>Address</h3>
<div><%= patient.address %></div>
<h3>Email</h3>
<div><%= patient.email %></div>
<h3>Phone Number</h3>
<div><%= patient.phoneNo %></div>


<br><br><h2>Treatment Notes</h2>


<% if (patient.notes.length) { %>
    <table>
        <thead>
          <tr>
            <th>Date Created</th>
            <th>History and Symptoms</th>
            <th>Treatment Notes</th>
          </tr>
        </thead>
        <tbody>
          <% patient.notes.forEach(function(n) { %>
            <tr>
              <td><%= n.createdAt.toLocaleDateString() %></td>
              <td><%= n.history %></td>
              <td><%= n.medications %></td>
              <td><a href= "/patients/<%= patient._id  %>/notes/<%= n.id %>">OPEN</a></td>

            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
        <h5>No Notes Yet</h5>
    <% } %>

  
  
<%- include('../partials/footer') %>
