<%- include('../partials/header') %>
<form id="add-patient" action="/patients/<%= patient._id %>/notes/new" method="GET">
    <button id="add-patient-button" type="submit" <%- title === 'A' ? 'class="active"' : '' %>>Add treatment note</button>
</form>

<div id="info-display">
<div id = "first-col">First Name</div>
<div><%= patient.firstname %></div>
<div id = "first-col">Surname</div>
<div><%= patient.surname %></div>
<div id = "first-col">Date of Birth</div>
<div><%= patient.dob.toLocaleDateString() %></div>
<div id = "first-col">Address</div>
<div><%= patient.address %></div>
<div id = "first-col">Email</div>
<div><%= patient.email %></div>
<div id = "first-col">Phone Number</div>
<div><%= patient.phoneNo %></div>
<form id="edit-button" action="/patients/edit/<%= patient.id%>">
  <button type="submit">Edit</button>
</form>
</div>

<br><h2>Treatment Notes</h2>


<% if (patient.notes.length) { %>
    <table id = "treatment-list">
        <thead>
          <tr>
            <th>Date Created</th>
            <th>Treatment Preview</th>
          </tr>
        </thead>
        <tbody>
          <% patient.notes.forEach(function(n) { %>
            <tr>
              <td><%= n.createdAt.toLocaleDateString() %></td>
              <td><%= n.treatment.split(' ').slice(0, 10).join(' ') + '...' %></td>
              <td id = "table-buttons"><form action= "/patients/<%= patient._id  %>/notes/<%= n.id %>">
                <button type="submit">OPEN</button>
                </form>
                <form action= "/patients/<%= patient._id  %>/notes/<%= n.id %>?_method=DELETE" method="POST">
                <button id = "delete-button" type="submit">X</button>
                </form>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
        <h5>No Notes Yet</h5>
    <% } %>

  
  
<%- include('../partials/footer') %>
